/* General styles - put these straight into your stylesheet */

body {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 10px;
  background-color: #ccc;
}

/* Selectors to be matched up with rulesets */






/* Rulesets to be matched up with selectors */
.card
{
  width: 90vw;
  margin: 5em auto;
  background-colour: red;
  border: 0.2em solid black;
  border-radius: 1.5em;
}

.card header
{ height: 10vh;
  width: inherit;
  display: inline-block; 
  background-image: linear-gradient(to bottom,rgba(255,0,0,0.5), rgba(255,0,0,0.6));
  border-radius: 1.5em 1.5em 0 0;
}

.card footer
{  height: 10vh;
  display: inline-block;
  width: inherit;
  background-image: linear-gradient(to bottom,rgba(255,0,0,0.5), rgba(255,0,0,0.6));
  border-radius: 0 0 1.5em 1.5em;
}
.card article{
  width: inherit;
  height: 20vh;
  display: inline-block;
}
.card article img
{
  height: inherit;
  max-height: 100%;
  float: right;
}

article p{
  display: block;
  height: inherit;
  float: left;
  padding: 10px
}